 @inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="Revamp/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet" />
    <style id="compiled-css" type="text/css">
        body {
            background: rgb(241, 247, 237);
            min-height: 100vh;
        }

        .master-container {
            border: 5px solid #024100;
            border-radius: 10px;
            background: #FFF;
        }

        .page-title {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #41494f;
        }

        .page-sub-title {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #41494f;
            margin-bottom: 1.5rem;
        }

        .logo-link {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
        }

        .logo-image {
            float: left;
        }

        .top-right-info {
            float: right;
            position: relative;
            top: 26px;
        }

        .site-tagline {
            padding-left: 25px;
            float: right;
            font-size: 20px;
            color: #024101;
            padding-top: 12px;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }

            .site-tagline .first {
                font-weight: 800;
            }

            .site-tagline .second {
                font-weight: 600;
            }

        .col-form-label {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #41484e;
            font-size: 14px;
        }

        .grid-container {
            padding: 15px;
        }

        .form-container {
            padding: 15px 30px;
        }

        .form-container-box {
            background: #e9e9e9;
            padding: 1.5rem 3rem;
        }


        .mgn-top-btn {
            margin-top: 1rem;
        }

        .search-form-inline {
            margin-top: 30px;
            padding: 1.2rem;
            background: #cecece;
            border-radius: 0.5rem;
        }

        /--------BUTTON Style------------/

        .btn-primary {
            color: #fff;
            background-color: #024101;
            border-color: #024101;
        }

            .btn-primary:hover {
                color: #fff;
                background-color: #024101;
                border-color: #024101;
            }

        .btn-style1 {
            color: #fff;
            background-color: #024101;
            border-color: #28a745;
            border: none;
            padding: 0.6rem 1rem;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            border-radius: 5px;
        }

        .btn-style1-oval {
            color: #fff;
            background-color: #024101;
            border-color: #28a745;
            border: none;
            padding: 0.6rem 1rem;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            border-radius: 21px;
        }

        .btn-style2 {
            color: #fff;
            background-color: #b3b0b0;
            border-color: #28a745;
            border: none;
            padding: 0.6rem 1rem;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            border-radius: 5px;
        }

        /--------MODAL Style------------/

        .modal .modal-content .modal-header {
            background: #024101;
            color: #FFF;
        }

            .modal .modal-content .modal-header button.close {
                color: #FFF;
            }



        /--------DATA TABLES Style------------/

        .dtable td {
            padding: 0.35rem .65rem;
        }

        .dtable thead tr th {
            background-color: #024101;
            color: #FFF;
            height: 1px;
            font-size: 0.9rem;
        }

        .dtable tbody tr:nth-of-type(odd) {
            background-color: rgb(226,239,218);
        }

        .dtable tbody tr:hover {
            background-color: #024101;
            cursor: pointer;
            color: #FFF;
        }


        .dtables thead tr th {
            background-color: #024101;
            color: #FFF;
            height: 1px;
            font-size: 0.9rem;
            text-align: center;
        }

        .dtables tbody tr:nth-of-type(odd) {
            background-color: rgb(226,239,218);
            height: 1px;
        }

        .dtables tbody tr:hover {
            background: rgb(242, 242, 242);
            cursor: pointer;
            height: 1px;
            color: black;
        }

        .dtables tr td {
            font-size: 13px;
        }

        .dtables tbody tr td {
            height: 1px;
            font-size: 13px;
        }

        .dataTables_paginate .page-link {
            background-color: #FFF;
            border-color: #dee2e6;
            border-radius: 20px;
            color: #656563;
        }

        .dataTables_paginate .page-item.active .page-link {
            background-color: #024101;
            border-color: #024101;
            border-radius: 20px;
        }

        .dataTables_paginate .page-item.disabled .page-link {
            border-color: #ffffff;
        }

        .dataTables_paginate .page-item:first-child .page-link {
            border-radius: 20px;
        }

        .dataTables_paginate .page-item:last-child .page-link {
            border-radius: 20px;
        }
    </style>
    <style>
        #menu {
            display: block;
            background-color: #024100;
            color: #FFF;
            padding: 16px 0;
        }

            #menu .cf:after {
                content: "";
                display: table;
                clear: both;
            }

            #menu ul {
                margin: 0;
                padding: 0;
            }

            #menu .main-menu {
                display: none;
            }

        #tm:checked + .main-menu {
            display: block;
        }

        #menu input[type="checkbox"], #menu ul span.drop-icon {
            display: none;
        }

        #menu li, #toggle-menu, #menu .sub-menu {
            border-style: solid;
            border-color: rgba(0, 0, 0, 0);
            font-size: 12px;
        }

        #menu li, #toggle-menu {
            border-width: 0 0 1px;
        }

        #menu .sub-menu {
            background-color: #023d01;
            border-width: 1px 1px 0;
            margin: 0 1em;
        }

            #menu .sub-menu li:last-child {
                border-width: 0;
                font-size: 12px;
            }

        #menu li, #toggle-menu, #menu a {
            position: relative;
            display: block;
            color: white;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
            text-decoration: none;
            line-height: 1.618;
            text-transform: uppercase;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
        }



        #toggle-menu {
            background: #333;
        }

        #toggle-menu, #menu a {
            padding: 8px 24px;
        }

        #menu a {
            /*
                                  transition: all .125s ease-in-out;
                                  -webkit-transition: all .125s ease-in-out;
                                  */
        }

            #menu a:hover {
                color: rgba(255, 255, 255, 0.7);
            }

        #menu .sub-menu {
            display: none;
        }

        #menu input[type="checkbox"]:checked + .sub-menu {
            display: block;
        }

        #menu .sub-menu a:hover {
            color: #024101;
            background: #fff;
            opacity: 1;
        }

        #toggle-menu .drop-icon, #menu li label.drop-icon {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
        }

        #menu label.drop-icon, #toggle-menu span.drop-icon {
            padding: 1em;
            font-size: 1em;
            text-align: center;
            text-shadow: 0 0 0 transparent;
            background-color: rgba(0, 0, 0, .125);
            color: rgba(255, 255, 255, .75);
        }

        media only screen and (min-width: 1024px) {
            #menu .main-menu

        {
            display: block;
        }

        #toggle-menu, #menu label.drop-icon {
            display: none;
        }

        #menu ul span.drop-icon {
            display: inline-block;
        }

        #menu li {
            float: left;
            border-right: 1px solid rgba(202, 202, 202, 0.7); /*This is for Border Line */
            font-size: 12px;
        }

        #menu .sub-menu li {
            float: none;
            font-size: 12px;
        }

        #menu .sub-menu {
            border-width: 0;
            margin: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width: 12em;
            z-index: 3000;
        }

        #menu .sub-menu, #menu input[type="checkbox"]:checked + .sub-menu {
            display: none;
        }

            #menu .sub-menu li {
                border-width: 0 0 1px;
                border-bottom: 1px solid rgba(202, 202, 202, 1);
            }

            #menu .sub-menu .sub-menu {
                top: 0;
                left: 100%;
            }

            #menu .sub-menu .drop-icon {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0.5em;
            }

        #menu li:hover > input[type="checkbox"] + .sub-menu {
            display: block;
        }

        #toggle-menu, #menu a {
            padding: 8px 24px;
        }

        }
    </style>
    <style>
        #cover-spin {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.7);
            z-index: 9999;
            display: none;
        }

        -webkit-keyframes spin {
            from

        {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }

        }

        keyframes spin {
            from

        {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }

        }

        #cover-spin::after {
            content: '';
            display: block;
            position: absolute;
            left: 48%;
            top: 40%;
            width: 60px;
            height: 60px;
            border-style: solid;
            border-color: green;
            border-top-color: transparent;
            border-width: 4px;
            border-radius: 50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }

        media only screen and (max-width:620px) {
            /* For mobile phones: */
            .menu, .main, .right

        {
            width: 100%;
        }

        }
    </style>

    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
        .navbar-default {
            background-color: #69899f;
            border-color: #425766;
        }

            .navbar-default .navbar-brand {
                color: #d7e2e9;
            }

                .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
                    color: #e5dbdb;
                }

            .navbar-default .navbar-text {
                color: #d7e2e9;
            }

            .navbar-default .navbar-nav > li > a {
                color: #d7e2e9;
            }

                .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
                    color: #e5dbdb;
                }

            .navbar-default .navbar-nav > li > .dropdown-menu {
                background-color: #024100;
            }

                .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
                    color: #d7e2e9;
                }

                    .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
                    .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
                        color: #e5dbdb;
                        background-color: #024100;
                    }

                .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
                    background-color: #024100;
                }

            .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
                color: #e5dbdb;
                background-color: #024100;
            }

            .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
                color: #e5dbdb;
                background-color: #024100;
            }

            .navbar-default .navbar-toggle {
                border-color: #425766;
            }

                .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
                    background-color: #024100;
                }

                .navbar-default .navbar-toggle .icon-bar {
                    background-color: #024100;
                }

            .navbar-default .navbar-collapse,
            .navbar-default .navbar-form {
                border-color: #d7e2e9;
            }

            .navbar-default .navbar-link {
                color: #d7e2e9;
            }

                .navbar-default .navbar-link:hover {
                    color: #e5dbdb;
                }

        media (max-width: 767px) {
            .navbar-default .navbar-nav .open .dropdown-menu > li > a

        {
            color: #d7e2e9;
        }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #e5dbdb;
        }

        .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #e5dbdb;
            background-color: #024100;
        }

        }
    </style>
</head>
<body style="background: rgb(241, 247, 237)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="logo-link">

                    <div class="site-tagline d-none d-sm-block">
                        <span class="first">Fixity </span><br>
                        <span class="second">Online Hiring System</span>
                    </div>
                </a>
                <div class="top-right-info">
                    <span>
                        <strong>Welcome Back! @HttpContextAccessor.HttpContext.Session.GetString("UserName")</strong>
                    </span><br />
                    <span>
                        <strong>
                            Login at:@HttpContextAccessor.HttpContext.Session.GetString("Time")
                        </strong>
                    </span>               
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="DisplayUsers">Users</a></li>
                        <li><a href="DisplayStd">L1 Round</a></li>
                        <li><a href="L2module">L2 Round</a></li>
                        <li><a href="L3module">L3 Round</a></li>
                        <!-- First dropdown code -->
                        <li class="dropdown">
                            <a href="https://www.jquery-az.com/bootstrap-tips-tutorials/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADMIN <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="Adminhome">Add New Users</a></li>
                                <li><a href="Trainehome">Add New Students</a></li>                             
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Find topics">
                        </div>
                        <button type="submit" class="btn btn-info">Go</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">


                        <!-- Second dropdown code -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.jquery-az.com/about-us/">Terms</a></li>
                                <li><a href="Login">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
        @*  <nav class="container-fluid navbar navbar-default">
    <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
    <li><a href="https://www.jquery-az.com/php-tutorials/">PHP</a></li>
    <li><a href="https://www.jquery-az.com/jquery-tips/">jQuery</a></li>

    <!-- First dropdown menu here-->
    <li class="dropdown">
    <a href="https://www.jquery-az.com/bootstrap-tips-tutorials/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bootstrap <span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="https://www.jquery-az.com/bootstrap-carousel-5-single-multiple-horizontal-and-vertical-sliding-demos/">Carousel</a></li>
    <li><a href="https://www.jquery-az.com/bootstrap-form-customized-styles-6-online-examples/">Forms</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://www.jquery-az.com/bootstrap-select-5-beautiful-styles/">Select</a></li>
    </ul>
    </li>
    <!-- Dropdown ending here-->
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <!-- The right dropdown menu -->
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="https://www.jquery-az.com/about-us/">Terms</a></li>
    <li><a href="https://www.jquery-az.com/contact/">Contact</a></li>
    </ul>
    </li>
    <!-- Dropdown ending here-->
    </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>*@
        @*  <nav id="menu" class="py-1">
    <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
    <input type="checkbox" id="tm" />
    <ul class="main-menu cf">
    <li><a href="InnerMain.aspx">Dashboard</a></li>
    <li id="mastersetup" runat="server">
    <a href="#">
    Master Setup
    <span class="drop-icon">▾</span>
    <label title="Toggle Drop-down" class="drop-icon" for="sm8">▾</label>
    </a>
    <input type="checkbox" id="sm8" />
    <ul class="sub-menu" style="width: 220px">
    <li style="width: 220px;"><a href="ManageDepartment.aspx">Manage Departments</a></li>
    <li><a href="ManageRig.aspx">Manage Rigs</a></li>
    <li><a href="ManageWell.aspx">Manage Wells</a></li>
    <li><a href="ManageFields.aspx">Manage Fields</a></li>

    </ul>
    </li>
    <li id="losstimemenu" runat="server">
    <a href="#">
    LOST TIME
    <span class="drop-icon">▾</span>
    <label title="Toggle Drop-down" class="drop-icon" for="sm3">▾</label>
    </a>
    <input type="checkbox" id="sm3" />
    <ul class="sub-menu" style="width: 200px">
    <li style="width: 200px">
    <a href="#">
    UPLOAD DATA
    <span class="drop-icon">▸</span>
    </a>
    <input type="checkbox" id="sm4" />
    <ul class="sub-menu" style="width: 200px">
    <li style="width: 200px"><a href="LostTimeImport.aspx">Lost Time Upload</a> </li>
    <li><a href="LostTimeOperationalUpload.aspx">Operations Upload</a></li>
    </ul>
    </li>
    <li>
    <a href="#">
    MANAGE RIGS/CODES
    <span class="drop-icon">▸</span>
    </a>
    <input type="checkbox" id="sm5" />
    <ul class="sub-menu" style="width: 200px">
    <li style="width: 200px"><a href="ManageLostTimeRigs.aspx">Manage Rigs</a> </li>
    <li><a href="ManageLostTimeCodes.aspx">Manage Codes</a></li>
    <li><a href="ManageLostTimeCodesALL.aspx">Manage Codes(ALL)</a></li>
    </ul>
    </li>
    <li>
    <a href="#">
    LOST TIME REPORTS
    <span class="drop-icon">▸</span>
    </a>
    <input type="checkbox" id="sm6" />
    <ul class="sub-menu" style="width: 200px">
    <li style="width: 200px"><a href="LostTimeDaily.aspx">Lost Time By Date </a></li>
    <li><a href="LostTimeDetailsForAllCompany.aspx">Lost Time By Date (ALL) </a></li>
    <li><a href="LostTimeRigWellDetails.aspx">Lost Time Rig & Well By Date </a></li>
    <li><a href="LostTimeMaxHrs.aspx">Lost Time Max Hrs By Date </a></li>
    <li><a href="LossTimebyCompany.aspx">Lost Time By Company </a></li>

    </ul>
    </li>
    <li>
    <a href="#">
    OPERATION HOURS REPORT
    <span class="drop-icon">▸</span>
    </a>
    <input type="checkbox" id="sm61" />
    <ul class="sub-menu" style="width: 200px">
    <li style="width: 200px"><a href="LostTimePersonalsByDate.aspx">Operating Hours By Date</a> </li>
    <li><a href="LostTimePersonalsByDates.aspx">Operating Hours By Dates</a></li>
    <li><a href="LostTimePercentage.aspx">Operating Hours Percentage</a> </li>
    <li><a href="LostTimeNCSOptHrs.aspx">NCS OPERATING HRS</a></li>
    <li><a href="LostTimeOptHrsPercentageCompanyWise.aspx">OPERATING HOURS (% COMPANY WISE)</a></li>
    <li><a href="LostTimeOptHrsByRig.aspx">Operating Hours By Rig</a></li>
    </ul>
    </li>

    <li>
    <a href="#">
    ADDITIONAL REPORT
    <span class="drop-icon">▸</span>
    </a>
    <input type="checkbox" id="sm16" />
    <ul class="sub-menu" style="width: 200px">
    <li style="width: 200px"><a href="LostTimePersonnelOptHrs.aspx">PERSONNEL & OPERATION HRS</a> </li>
    <li><a href="LostTimeDetails.aspx">LOST TIME DETAILS</a></li>
    <li><a href="LostTimeDrillingOperations.aspx">DRILLING OPERATIONS DETAILS</a></li>
    <li><a href="LostTimeNext24HrsPlan.aspx">NEXT 24HRS PLAN</a></li>
    </ul>
    </li>
    <li>
    <a href="#">
    JOB DATA
    <span class="drop-icon">▸</span>
    </a>
    <input type="checkbox" id="sm62" />

    <ul class="sub-menu" style="width: 200px">
    <li style="width: 200px"><a href="LostTimeSumOfHrs.aspx">PERSONNEL HRS TOTAL</a> </li>
    <li><a href="LostTimeJobCount.aspx">Job Count</a> </li>
    <li><a href="LostTimeSummery.aspx">Job Count Summery</a></li>
    </ul>
    </li>
    </ul>
    </li>
    <li id="LostTimeTest" runat="server">
    <a href="#">
    Lost Time New
    <span class="drop-icon">▾</span>
    <label title="Toggle Drop-down" class="drop-icon" for="sm8">▾</label>
    </a>
    <input type="checkbox" id="sm82" />
    <ul class="sub-menu" style="width: 190px">
    <li><a href="MudData.aspx">Mud Data </a></li>
    <li><a href="BulkDataNew.aspx">Bulk Data </a></li>
    <li><a href="LostTimeDrillString.aspx">Drill String </a></li>
    <li><a href="BitData.aspx">Bit Data </a></li>
    <li><a href="LostTimeDrillStringView.aspx">Drill String View </a></li>
    <li><a href="LostTimeUploadNew.aspx">Lost Time Upload New </a></li>
    <li><a href="ImportLossTimeTest.aspx">Lost Time Upload Bulk </a></li>
    <li><a href="LostTimeByGroup.aspx">Operations Details- Well Logging(Group)</a></li>
    <li><a href="LostTimeMixedData.aspx">Operations Details- (NCS)</a></li>
    <li><a href="LostTimeDrillStringView.aspx">Drill String View </a></li>
    <li><a href="LostTimeBitDataView.aspx">Bit Data View </a></li>
    </ul>
    </li>
    <li id="FSTCMT" runat="server">
    <a href="#">
    Field Tickets
    <span class="drop-icon">▾</span>
    <label title="Toggle Drop-down" class="drop-icon" for="sm8">▾</label>
    </a>
    <input type="checkbox" id="sm81" />
    <ul class="sub-menu" style="width: 190px">
    <li><a href="FieldServiceTicket_CMT.aspx">CMT Tickets ($)</a></li>
    <li><a href="FieldServiceTicket_CMTSAR.aspx">CMT Tickets (SAR)</a></li>
    <li><a href="EmployeeOnField.aspx">Emp On Field</a></li>
    <li><a href="TicketApprovals_CMT.aspx">Ticket Approval</a></li>
    <li><a href="References.aspx" target="_blank">References</a></li>
    <li><a href="ReferencesSAR.aspx" target="_blank">References SAR</a></li>
    </ul>
    </li>
    <li id="Adminsitrator" runat="server">
    <a href="#">
    Administrator Control
    <span class="drop-icon">▾</span>
    <label title="Toggle Drop-down" class="drop-icon" for="sm8">▾</label>
    </a>
    <input type="checkbox" id="sm8" />
    <ul class="sub-menu" style="width: 190px">
    <li><a href="InnerMain.aspx">Home</a></li>
    <li id="AdminMenuLink" runat="server"><a href="ManageUsers.aspx">Manage Users</a></li>
    <li id="userpermModule" runat="server"><a href="Users.aspx">User Permissions</a></li>
    <li><a href="ChangePassword.aspx">Change Password</a></li>
    <li id="userlog" runat="server"><a href="UserLogDetails.aspx">User Log</a></li>
    <li><a href="Default.aspx">Logout</a></li>
    </ul>
    </li>
    <li><a href="/Default.aspx">Logout <i class="fa fa-sign-out"></i></a></li>
    </ul>
    </nav>*@

    <!-- For demo purpose -->
        @* <section class="py-5 text-black">*@
    <div class="container-fluid">
        <div class="master-container">

                @RenderBody()
        </div>
    </div>
        @* </section>*@
    <!-- End -->
    <div id="footer">
        <div class="footer-container">
            <div id="footer-copyright">
                <p id="copyright" style="text-align: center">
                    2013 -2022 &nbsp; <a href="http://fixitytech.com/"
                                         target="_blank">© Fixity Online </a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="Revamp/js/jquery.js"></script>
    <!--<script type="text/javascript" src="Revamp/js/jquery-3.3.1.slim.min.js"></script>-->
    <script type="text/javascript" src="Revamp/js/bootstrap.bundle.min.js"></script>


    <script type="text/javascript" src="Revamp/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="Revamp/js/dataTables.bootstrap4.min.js"></script>

    <!-- TODO: Missing CoffeeScript 2 -->
    <script type="text/javascript">
        //<![CDATA[
        window.onload = function() {
            $(function() {
                // ------------------------------------------------------- //
                // Multi Level dropdowns
                // ------------------------------------------------------ //
                $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).siblings().toggleClass("show");
                    if (!$(this).next().hasClass('show')) {
                        $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
                    }
                    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                        $('.dropdown-submenu .show').removeClass("show");
                    });

                });
            });
        }
        //]]></script>
    <script>
        // tell the embed parent frame the height of the content
        if (window.parent && window.parent.parent) {
            window.parent.parent.postMessage(["resultsFrame", {
                height: document.body.getBoundingClientRect().height,
                slug: "j6zkyog8"
            }], "*")
        }
        // always overwrite window.name, in case users try to set it manually
        window.name = "result"
    </script>
    <div id="cover-spin"></div>
</body>
</html>
