
@{
    ViewData["Title"] = "Adminhomepage";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<h1>Adminhomepage</h1>
<html>
<head>
    <link href="Styles/JobStyle.css" type="text/css" rel="Stylesheet" />
    <link href="Styles/gridstyles.css" rel="Stylesheet" type="text/css" />
    <link href="Styles/Calendar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="ndate/datetimepicker_css.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <style type="text/css">
        #calendarContainerOverride table {
            width: 0px;
            height: 0px;
        }

            #calendarContainerOverride table tr td {
                padding: 0;
                margin: 0;
            }

        #success_message {
            display: none;
        }

        section.py-5 {
            padding: 48px 0 !important;
        }
    </style>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

</head>

<body>
    @* <h3>AdminHome</h3>
    <div>Welcome to Home Page</div>*@
    @*<section class="text-black">
    <div class="container-fluid">
    <div class="grid-container">
    <div class="row">
    <div class="caption col-sm-5">
    <h6 class="page-title font-weight-bold">FIELD TICKET INITIAL DETAILS</h6>
    </div>
    </div>
    <hr />
    <div id="formgrid" class="formgrid">
    <div>

    <div class="row">
    <div class="caption col-sm-6">

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ticket No</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-list"></i></span>
    <input asp-for="EmailID" type="text" class="form-control" />
    </div>
    </div>
    </div>


    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-5 inputGroupContainer">

    <div class="input-group">

    </div>




    </div>
    </div>


    <div class="form-group row">
    <label class="col-sm-2 col-form-label">DRSS No</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">

    </div>
    </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rig</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">

    </div>
    </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Well</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">

    </div>

    </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Field</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">
    </div>
    </div>
    </div>






    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">
    </div>

    </div>
    </div>



    <div class="form-group row">
    <label class="col-sm-2 col-form-label">RPO No</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">
    </div>
    </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Job Type</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">
    </div>
    </div>
    </div>


    <div class="form-group row">
    <asp:Label ID="lblother" CssClass="col-sm-2 col-form-label" runat="server" Text="Other:"></asp:Label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">
    </div>

    </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Customer</label>
    <div class="col-sm-5 inputGroupContainer">
    <div class="input-group">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="form-group row">
    <div class="col-sm-6">

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">&nbsp;</label>
    <div class="col-sm-5">
    <button type="submit" class="btn-style2 mgn-top-btn">Submit</button>
    <button type="submit" class="btn btn-danger">Cancel</button>

    </div>
    </div>




    </div>
    </div>

    </div>


    </div>
    </div>
    </section>*@
    <!-- End -->


</body>
</html>
